body{
  text-align: center;
  font-family: Helvetica;
  color: gray;
}

h1{
  font-size: 70px;
  font-weight: bold;
}

h2{
  font-size: 23px;
  font-weight: bold;
}

h3{
  font-size: 18px;
}

p{
  font-size: 14px;
}

.header{
  color: white;
  background-image: image(./resources/images/the-flatiron-building.png);
}

.process{
  font-size: 32px;
  font-weight: bold;
}

.designed{
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: image("./resources/images/the-flatiron-building.png");
}
